{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Playlists</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newPlaylist')}}">
				<button class="btn btn-default" id="new-restaurant">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Playlist
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for playlist in playlists %}
		<a href = "{{url_for('showSongs', playlist_id = playlist.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 restaurant-list">
						<h3>{{playlist.title}}</h3>
						{% if playlist.description %}
						<p class="description">{{playlist.description}}</p>
						{% endif %}
					</div>
				
			</div>
		</a>
	{% endfor %}
{% endblock %}
<div class="side">{% include "side.html" %}</div>